* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

/* Navbar */
.main-nav {
  display: flex;
  justify-content: space-between;
  padding-left: 8rem;
  padding-right: 14rem;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(44, 101, 77, 0.08);
}

.main-nav ul {
  display: flex;
}

.main-nav li {
  padding: 2rem 2rem;
  list-style: none;
}

.main-nav a {
  text-decoration: none;
  color: #333333;
  font-weight: 400;
  border-bottom: 2px transparent solid;
  padding-bottom: 0.2rem;
}

.main-nav a:hover {
  font-weight: 700;
}

.main-nav a.current {
  border-color: #333333;
  font-weight: 700;
}
