* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 0.5rem 1.2rem;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #4bd8b5;
  font-weight: 700;
  border-radius: 3px;
}

.btn:hover {
  background-color: #49d6df;
}

.btn img {
  width: 15%;
  padding-right: 0.2rem;
}

.btn.center {
  display: block;
  margin: auto;
}

.uppercase {
  text-transform: uppercase;
}

.small {
  font-size: 0.7rem;
}

.noline {
  text-decoration: none;
}

/* Navbar */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(44, 101, 77, 0.08);
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 12vh;
  padding: 0 20px;
  z-index: 1000;
}

.logo {
  display: inline-block;
}

.logo img {
  width: 50px;
  height: 42px;
}

.nav {
  display: flex;
  align-items: center;
  /* box-shadow: 0px 4px 8px 0px rgba(44, 101, 77, 0.08); */
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 3rem;
}

.menu a {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  /* padding: 30px; */
  font-weight: 400;
  border-bottom: 2px transparent solid;
  padding-bottom: 0.2rem;
  transition: border-color 0.3s ease;
  /* position: relative; */
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  font-weight: 700;
  background-color: #fff;
  border-bottom-color: #333333;
}

.nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.hamb {
  cursor: pointer;
  float: right;
  padding: 38px 20px;
}

.hamb-line {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}
.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */

.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

/* Section A: Main */
.main_container {
  background: url("./assets/images/main-background.png") no-repeat center/cover;
  /* height: 90vh; */
  min-height: 740px;
  width: 100%;
  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: 3rem;
}

.main_container h1 {
  color: #fff;
  font-size: 2.8rem;
}

h1.bottom {
  padding-bottom: 1.5rem;
}

.main-title {
  padding-top: 7rem;
  padding-left: 5rem;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.content_socials {
  display: flex;
  align-items: end;
  padding-bottom: 2rem;
}

.content_socials li {
  list-style: none;
}

.content_socials img {
  width: 80%;
}

/* Slider */
.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  justify-content: center;
  gap: 20px;
}

.slide {
  min-width: 150px;
  max-width: 150px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: relative;
  cursor: pointer;
  opacity: 0.7;
}

.slide.active {
  transform: scale(1.2);
  opacity: 1;
  z-index: 1;
}

.content_gallery {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.content_gallery img {
  width: 100%;
  border-radius: 3px;
}

.slider-control-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 24%;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;
  margin-top: 10px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #ccc;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.slider-pagination {
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: -30px; /* Adjust position */
  left: 50%;
  transform: translateX(-50%);
}

/* Hover effect */

.image-fig {
  /* width: 180px; */
  width: 100%;
  /* height: 220px; */
  height: 100%;
  position: relative;
  transition: 1s;
  &:not(.disable):hover {
    transform: scale(1.5);
    z-index: 2;
  }
}

.image-fig img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  display: block;
  margin: auto;
}

.content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  /* display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  opacity: 0;
  transition: 0.6s; */
  display: none;
}

/* .content:hover {
  opacity: 1;
} */

.slide:hover .content {
  display: block; /* Show content on hover */
}

.content p {
  font-size: 0.6rem;
  color: #fff;
  padding: 0.5rem;
}

.content > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}

.content > * {
  transform: translateY(0px);
}

.logo-images {
  display: flex;
  gap: 0.2rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.alligator {
  object-position: 80% 20%;
}

/* Section B: How it works */
.section-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 15rem;
}
.container__works {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.h2_title {
  padding-top: 5vh;
  padding-bottom: 50px;
  font-size: 2.5vw;
  font-weight: 900;
  color: #333;
}
.sec-2__desc {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 40px;
  color: #4f4f4f;
}

.img-container {
  width: 100%;
  /* width: 790px; */
  height: 423px;
  padding-bottom: 3rem;
}

.image__section-2 {
  width: 100%;
  max-height: 100%;
  object-position: left bottom;
  margin-bottom: 100px;
}

/* Section C: Our mission */

.container__mission {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
  background-color: #f2f2f2;
  padding: 0 10rem;
  gap: 3rem;
}
.block_3 {
  width: 380px;
  height: 213px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block_3__logo {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
}

.block_3__logo img {
  display: flex;
  align-items: center;
}

.h3__title {
  font-weight: 900;
  font-size: 1.5em;
  padding-top: 15px;
  padding-bottom: 15px;
}

.title-3__desc {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

/* Section D: Pets */
.pets-container {
  padding: 5rem 7rem;
}

.pets-container h1 {
  padding-bottom: 3rem;
}

.second {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-right: 3rem;
  padding-left: 3rem;
  z-index: -3;
}

/* Footer */
.footer-container {
  background-color: #333333;
  color: #fefefe;
  padding: 4rem 7rem;
}

.footer-container-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.footer-logo {
  padding-bottom: 3rem;
}

.footer-part1 {
  padding-right: 8rem;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  color: #e0e0e0;
  padding-top: 1.3rem;
  gap: 1rem;
}

::placeholder {
  color: #e0e0e0;
}

.text-input {
  background-color: #333;
}

.border-input {
  width: 100%;
  padding: 10px 0;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #bdbdbd;
}

.footer-checkbox {
  gap: 0.4rem;
  padding-bottom: 1rem;
  display: block;
  position: relative;
  cursor: pointer;
  color: #bdbdbd;
  z-index: 0;
}

.footer-checkbox input[type="checkbox"] {
  visibility: hidden;
}

.checkbox-container {
  position: absolute;
  top: 4px;
  left: 0;
  height: 8px;
  width: 8px;
  background-color: transparent;
  border: 1px solid #bdbdbd;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  color: #fff;
}

.footer-fieldset {
  border: 1px solid #bdbdbd;
  color: #bdbdbd;
  font-size: 0.7rem;
}

legend {
  margin: 4px;
  padding: 0 4px;
}

.footer-checkbox:hover input ~ .checkbox-container {
  background-color: #bdbdbd;
}

.footer-checkbox input:checked ~ .checkbox-container {
  background-color: #bdbdbd;
}

.checkbox-container::after {
  content: "";
  position: absolute;
  display: none;
  left: 2.5px;
  top: -1px;
  width: 2px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.footer-checkbox input:checked ~ .checkbox-container::after {
  display: block;
}

.btn-footer {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 0.5rem 1.2rem;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #333;
  font-weight: 700;
  border-radius: 3px;
  gap: 1.5rem;
  float: right;
}

.btn-footer:hover {
  background-color: lightgray;
  color: #333;
}

.links {
  display: flex;
  padding-top: 1rem;
}

.links ul {
  display: flex;
  list-style: none;
  gap: 4rem;
}

.links a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
}

.footer-part2 {
  padding-right: 7rem;
}

.footer-address {
  padding-top: 3rem;
}

.footer-address h5 {
  font-weight: 400;
  font-size: 0.8rem;
}

.address-title {
  padding-bottom: 1.8rem;
}

h5.address-title {
  font-weight: 700;
}

.open-hours {
  padding-bottom: 1rem;
}

.footer-socials ul {
  display: flex;
  gap: 0.5rem;
  padding-top: 1rem;
}

.footer-bottom {
  background-color: #333;
}

.bottom-line {
  height: 1px;
  background: #fefefe;
  display: block;
  margin: 0 auto 1rem auto;
}

.copyright {
  color: #bdbdbd;
}

.copyright-top {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

/* E, F, G */
.section-pay {
  padding: 5rem 10rem;
}

.section-pay,
.section-map {
  width: 100vw;
  /* height: 90vh; */
  min-height: 660px;
  background-color: #f2f2f2;
  min-height: 660px;
}

.section-testimonials {
  width: 100vw;
  /* height: 75vh; */
  min-height: 480px;
  background-color: #fff;
  padding: 5rem 0rem;
}

.section-map {
  padding: 5rem 0rem;
}

.h1-text,
.opportunity-text {
  text-align: center;
}

.h1-text {
  font-weight: 900;
  font-size: 2.5vw;
  color: #333;
  padding-top: 5vh;
}

.opportunity-text {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #4f4f4f;
  margin-top: 3vh;
}

.pay-container {
  width: 70vw;
  height: 45vh;
  margin: 0 auto;
  margin-top: 3%;
  display: grid;
  grid-template-columns: 1fr 0.7fr 1fr 0.7fr 1fr;
  grid-template-rows: 45vh;
  justify-content: center;
  margin-bottom: 2rem;
}

.circle-text {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.5vw;
  color: #4f4f4f;
}

.pay-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pay-block_circle {
  display: flex;
  background-image: url(./assets/images/Ellipse.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* margin-top: 20%; */
  width: 100%;
  height: 100%;
  background-position: center center;
}

.pay-block_circle svg {
  margin-bottom: 0.2rem;
}

.donate-feedback {
  width: 13vw;
  height: 4.5vh;
}

.pay-button {
  margin-top: 6vh;
}

.testimonials-container {
  width: 100vw;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4%;
}

.testimonials-block {
  border-radius: 5px;
  width: 35vw;
  height: 30vh;
  box-shadow: 2px 4px 15px 0 rgba(6, 12, 70, 0.1);
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.testimonials-name {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #333;
}

.testimonials-p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #4f4f4f;
  text-align: center;
}

.feedback-button {
  margin-top: -20vh;
}

.map-eagle {
  width: 25vw;
  height: 18vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  position: absolute;
  margin-top: 10%;
  margin-left: 2.5%;
  z-index: 0;
}

.map-eagle span {
  font-weight: 500;
  font-size: 14px;
  color: #333;
}

.map-eagle p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #4f4f4f;
}

.bald {
  font-weight: 900;
  font-size: 1rem;
  color: #333;
}

.map-image {
  width: 60vw;
  height: 63vh;
  background-image: url(./assets/images/Map.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-top: 3vh;
}

.btn-map {
  margin: 0 auto;
}

/* Popup */
.popup {
  display: grid;
  grid-template-areas: "popup__img popup__content";
  grid-template-columns: 1fr 5fr;
  margin: 50px auto;
  background: #f9f9f9;
  border-radius: 5px;
  width: 80%;
  height: 80%;
  position: relative;
  z-index: 1000;
}

.popup__img img {
  width: 197px;
  height: 650px;
  flex-shrink: 0;
  /* z-index: 999; */
}

/* screen animal Panda*/

.main__part {
  display: flex;
}
.section__main-screen {
  display: flex;
  height: 950px;
}
/* Aside*/
.aside__animal {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-top: 14%;
  align-items: space-between;
}
.pic_circle {
  width: 157px;
  height: 157px;
  border-radius: 100px;
  margin-left: 36px;
  margin-bottom: 25px;
}

/* Middle */
.middle__part {
  width: 40%;
  display: flex;
  margin-right: 30px;
}
.container__middle {
  display: flex;
  width: 790px;
  flex-direction: column;
  margin: o auto;
}
.video__large {
  width: 790px;
  height: 442px;
  margin-right: 30px;
}
.small__part-video {
  display: flex;
  height: 250px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.video__small {
  width: 246px;
}

/* Right Part */
.right__part {
  width: 40%;
  display: flex;
  margin-left: 30px;
}
.container__right {
  margin-top: 7rem;
  width: 40%;
  margin-left: 250px;
}
.btn__animal {
  margin-top: 50px;
}
.description {
  text-align: left;
}

.popup__content {
  background: #f9f9f9;
  padding: 5rem 5rem;
}

.popup__content-top {
  display: grid;
  grid-template-areas: "fs-select-cont fs-donate-cont";
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  padding-bottom: 2rem;
  color: #828282;
  font-size: 0.8rem;
}

.fs-select-cont {
  grid-area: fs-select-cont;
}

.fs-select select,
.fs-donate textarea,
.fs-name input,
.fs-number input,
.fs-email input,
.fs-date-month input,
.fs-date-year input,
.fs-date input,
.fs-phone input,
.fs-cvc input {
  width: 100%;
  border: none;
  outline: none;
  color: #828282;
  background-color: transparent;
  padding: 0.4rem;
}

.fs-select,
.fs-donate,
.fs-name,
.fs-number,
.fs-email,
.fs-date,
.fs-phone,
.fs-cvc {
  border-radius: 5px;
  border: 1px solid #828282;
}

.fs-select {
  padding-right: 0.4rem;
}

.fs-donate-cont {
  grid-area: fs-donate-cont;
}

.popup__content h3 {
  text-align: center;
  padding-bottom: 2rem;
}

.popup__content-mid {
  display: grid;
  grid-template-areas:
    "content-mid-title1 content-mid-title2"
    "fs-name-cont fs-number-cont"
    "fs-email-cont fs-date-cont"
    "fs-phone-cont fs-cvc-cont";
  grid-template-columns: 1fr 1fr;
  color: #828282;
  gap: 1rem 2.5rem;
  font-size: 0.8rem;
}

.content-mid-title1 {
  grid-area: content-mid-title1;
}

.content-mid-title2 {
  grid-area: content-mid-title2;
}

.fs-name-cont {
  grid-area: fs-name-cont;
}

.fs-number-cont {
  grid-area: fs-number-cont;
}

.fs-email-cont {
  grid-area: fs-email-cont;
}

.fs-date-cont {
  grid-area: fs-date-cont;
}

.fs-date {
  display: grid;
  grid-template-areas: "fs-date-month fs-date-year";
  grid-template-columns: 1fr 1fr;
}

.fs-date-month {
  grid-area: fs-date-month;
}

.fs-date-year {
  grid-area: fs-date-year;
}

.fs-phone-cont {
  grid-area: fs-phone-cont;
}

.fs-cvc-cont {
  grid-area: fs-cvc-cont;
}

.popup__content-bottom {
  padding-top: 4rem;
}

.content-bottom__text {
  text-align: center;
  color: #828282;
  padding-bottom: 2rem;
}

.content-bottom__text h5 {
  font-weight: 400;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #4bd8b5;
}

.popup__content {
  overflow: auto;
}

@media (min-width: 768px) {
  .main-nav {
    padding-right: 3rem;
  }

  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }

  .logo {
    margin-left: 7rem;
  }

  .menu li {
    float: left;
    list-style: none;
  }

  .menu a:hover {
    background-color: transparent;
  }

  .menu a.current {
    border-color: #333333;
    font-weight: 700;
  }

  .hamb {
    display: none;
  }
}
